@use 'mixins' as *;
@use 'themes.scss' as *;

@include theme-styles;

body {
  box-sizing: border-box;
  background-color: var(--bg-base);
  color: var(--text-main);
  font-family: sans-serif;
  font-family: var(--font-main);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @include flex($direction: column, $gap: 1rem);
  padding: 0 1rem;
}
.section {
  padding-bottom: 120px;
  @include flex($direction: column, $gap: 0);
  width: 100%;
}

.btn {
  @include btn();
}

.btn-primary {
  @include btn($color: var(--bg-base), $bg: var(--action-primary), $bg-hover: var(--action-primary-hover));
}

.btn-transparent {
  @include btn($color: var(--text-main), $bg: transparent, $bg-hover: var(--bg-surface), $border: var(--text-main));
}

.btn-icon {
  @include btn($color: var(--text-main), $bg: transparent, $bg-hover: transparent, $padding: 1rem);
  padding: 0.25rem;
  @media (hover: hover) {
    &:hover {
      color: var(--action-primary);
      transform: scale(1.2);
    }
  }
}
