@use 'fonts' as fonts;

@mixin theme-styles {
  :root {
    // Backgrounds
    --bg-base: #121212;
    --bg-surface: #181818;
    --bg-surface-elevated: #282828;

    // Text
    --text-main: #ffffff;
    --text-sub: #b3b3b3;
    --text-bright: #ffffff;

    // Interactive
    --action-primary: #1db954;
    --action-primary-hover: #1ed760;
    --action-surface: rgb(255 255 255 / 0.1);
    --action-error: #ff003c;
    --action-info: #96e6ff;
    --action-warning: #fffc45;
    --action-success: #43ff8e;

    // Misc
    --border: #282828;
    --border-none: none;
    --shadow: 0 8px 24px rgb(0 0 0 / 0.5);

    // Gradient
    --overlay-gradient-right: linear-gradient(90deg, rgb(18 18 18 / 0) 0%, rgb(18 18 18 / 1) 80%);
    --overlay-gradient-left: linear-gradient(-90deg, rgb(18 18 18 / 0) 0%, rgb(18 18 18 / 1) 80%);

    // Shadow
    --overlay-shadow: rgb(0 0 0 / 0.3);
  }

  [data-theme='light'] {
    // Backgrounds
    --bg-base: #ffffff;
    --bg-surface: #f6f6f6;
    --bg-surface-elevated: #efefef;

    // Text
    --text-main: #121212;
    --text-sub: #535353;
    --text-bright: #000000;

    // Interactive
    --action-primary: #1db954;
    --action-primary-hover: #169c46;
    --action-surface: rgb(0 0 0 / 0.05);
    --action-error: #8d0028;
    --action-info: #0d6e8c;
    --action-warning: #bb9200;
    --action-success: #016328;

    // Misc
    --border: #e0e0e0;
    --border-none: none;
    --shadow: 0 8px 24px rgb(0 0 0 / 0.1);

    // Gradient
    --overlay-gradient-right: linear-gradient(90deg, rgb(255 255 255 / 0) 0%, rgb(255 255 255 / 1) 80%);
    --overlay-gradient-left: linear-gradient(-90deg, rgb(255 255 255 / 0) 0%, rgb(255 255 255 / 1) 80%);

    // Shadow
    --overlay-shadow: rgb(0 0 0 / 0.2);
  }
}
