<form [formGroup]="signupForm" (ngSubmit)="onSignUp()" class="form">
  <label for="login"><input type="text" formControlName="login" placeholder="Login" id="login" class="input" /></label>
  <p class="error">
    @if (signupForm.controls.login.dirty && signupForm.controls.login.hasError('required')) {
      <span>Login is required</span>
    }
  </p>
  <label for="password"
    ><input type="password" formControlName="password" placeholder="Password" id="password" class="input"
  /></label>
  <p class="error">
    @if (signupForm.controls.password.dirty && signupForm.controls.password.hasError('required')) {
      <span class="error">Password is required</span>
    }
  </p>
  <label for="confirmPassword"
    ><input
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm password"
      id="confirmPassword"
      class="input"
  /></label>
  <p class="error">
    @if (signupForm.controls.confirmPassword.dirty && signupForm.controls.confirmPassword.hasError('required')) {
      <span class="error">Confirm your password</span>
    } @else if (signupForm.controls.password.value !== signupForm.controls.confirmPassword.value) {
      <span class="error">Passwords do not match</span>
    }
  </p>
  <button
    type="submit"
    [disabled]="signupForm.invalid || signupForm.controls.password.value !== signupForm.controls.confirmPassword.value"
    class="btn-primary"
  >
    Sign up
  </button>
</form>
<div>
  Response:
  <pre>{{ $user | async | json }}</pre>
</div>
