:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  width: 200px;
  height: inherit;
  padding: 10px;
  border-radius: 20px;

  .album-cover {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
  }

  .album-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .album-title {
      font-size: 16px;
      font-weight: bold;
    }

    .album-artist {
      font-size: 14px;
      color: #666666;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--action-surface);
    transition: background-color 0.3s ease;
  }
}
