@use '../../../styles/mixins' as *;

:host {
  flex: 0 1 10rem;
  width: 10rem;
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--text-main);
  text-align: center;
  cursor: pointer;
  background: var(--bg-surface-elevated);
  border-radius: 1rem;

  @include flex($direction: column, $gap: 0.5rem);
}
