@use '../../../../../styles/mixins' as *;

:host {
  @include flex($gap: 0);

  min-width: 0;
  width: clamp(4rem, 8vw, 6.5rem);
  overflow: hidden;
  font-size: 0.875rem;
  background-color: var(--bg-surface);
}
