@use '../../../styles/mixins' as *;

:host {
  width: 100%;
  padding: 1rem 0;

  @include flex($justify: end);
}

h1 {
  .link-wrapper {
    @include flex($direction: column, $gap: 0);
  }

  margin-right: auto;

  .subtitle {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--text-sub);
  }
}
