@use '../../../styles/mixins' as *;

:host {
  width: 100%;
  padding: 1rem 0;
  @include flex($justify: end);
}

h1 {
  .link-wrapper {
    @include flex($direction: column, $gap: 0);
    // margin-right: auto;
  }
  // @include flex($direction: column, $gap: 0);
  margin-right: auto;

  .logo {
    font-size: 2rem;
    font-weight: 900;
    color: var(--action-primary);
    font-family: var(--font-cursive);
  }

  .subtitle {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--text-sub);
  }
}

.sign-up {
  font-size: 0.75rem;
  font-weight: 400;
  border: none;
}
