<div class="carousel-wrapper">
  @if (isShowArrowLeft()) {
    <div class="arrow-overlay left-overlay">
      <button class="arrow-btn" (click)="scrollLeft()">
        <span class="material-symbols-rounded">chevron_left</span>
      </button>
    </div>
  }

  <div class="scroll-container" #scrollContainer (scroll)="onScroll()">
    @for (item of items(); track item) {
      <button class="btn" [class.active]="isActiveFilter() === item" (click)="selectFilter(item)">
        {{ item }}
      </button>
    }
  </div>

  @if (isShowArrowRight()) {
    <div class="arrow-overlay right-overlay">
      <button class="arrow-btn" (click)="scrollRight()">
        <span class="material-symbols-rounded">chevron_right</span>
      </button>
    </div>
  }
</div>
