<img src="assets/gif/black-cat.gif" width="350" alt="meme cat" />
<h2 class="logo">{{ 'ABOUT.TITLE' | translate }}</h2>
<p class="description">{{ 'ABOUT.DESCRIPTION' | translate }}</p>
<h3>{{ 'ABOUT.AUTHORS' | translate }}:</h3>
<div>
  <a href="https://github.com/DzmitryAliakseyeu" class="btn-icon" target="_blank" rel="noopener noreferrer">Dmitry</a>
  <a href=" https://github.com/snitkon" class="btn-icon" target="_blank" rel="noopener noreferrer">Nikita</a>
  <a href="https://github.com/dzichonka" class="btn-icon" target="_blank" rel="noopener noreferrer">Anna</a>
</div>
