<!-- @if (tracks.isLoading()) {
  <app-loader></app-loader>
}

@if (tracks.error()) {
  <div class="error">
    <p>{{ tracks.error()?.message }}</p>
    <button class="btn" (click)="tracks.reload()">Click to reload</button>
  </div>
}

@if (!tracks.isLoading() && !tracks.error() && tracks.value(); as tracks) {
  @for (track of tracks; track track.id) {
    <app-track-card [track]="track"></app-track-card>
  }
} -->
@let tracks = tracks$ | async;

@if (loading()) {
  <app-loader></app-loader>
} @else {
  @if (tracks && tracks.length > 0) {
    @for (track of tracks; track track.id) {
      <app-track-card [track]="track"></app-track-card>
    }
  } @else if (tracks && tracks.length === 0) {
    <div class="empty-state">
      <p>No tracks found</p>
    </div>
  }
}
