@use '../../../../../styles/mixins' as *;

:host {
  box-sizing: border-box;

  @include flex($gap: 10px);

  width: 25%;
  height: inherit;
  padding: 10px;
  border-radius: 20px;

  .img-fallback {
    @include flex($gap: 0);

    width: 48px;
    height: 48px;
    background-color: var(--action-surface);
    border-radius: 0.5rem;
    transition: opacity 0.5s ease;
  }

  .track-cover {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
  }

  .track-info {
    @include flex($direction: column, $align: stretch, $justify: space-between, $gap: 0);

    height: 100%;

    h3 {
      font-size: 16px;
      font-weight: bold;
    }

    p {
      font-size: 14px;
      color: #666666;
    }
  }

  .like-button {
    @include flex($gap: 0);

    width: 30px;
    height: 30px;
    color: var(--text-sub);
    cursor: pointer;
    background-color: transparent;
    border: none;

    @media (hover: hover) {
      &:hover {
        color: var(--text-main);
      }
    }
  }
}
