@use '../../../styles/mixins' as *;

:host(.toast-container) {
  @include flex($direction: column, $align: flex-end);

  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 1000;
  cursor: pointer;

  .toast {
    @include flex;

    position: relative;
    width: 20rem;
    height: auto;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--bg-surface-elevated);

    &-icon {
      @include flex;

      width: 1.5rem;
      height: auto;
      padding: 1rem;
    }

    &-content {
      flex-grow: 1;
      min-width: 0;

      .title {
        margin-bottom: 0.2rem;
        font-weight: bold;
      }

      .message {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
      }
    }

    &-close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      padding: 0;
      color: inherit;
      cursor: pointer;
      background: none;
      border: none;
      opacity: 0.7;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }

    &-loader {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.2rem;
      animation: loader 3s linear forwards;
    }

    &.success {
      color: var(--action-success);
      border: 1 solid var(--action-success);

      .toast-loader {
        background-color: var(--action-success);
      }
    }

    &.error {
      color: var(--action-error);
      border: 1 solid var(--action-error);

      .toast-loader {
        background-color: var(--action-error);
      }
    }

    &.warning {
      color: var(--action-warning);
      border: 1 solid var(--action-warning);

      .toast-loader {
        background-color: var(--action-warning);
      }
    }

    &.info {
      color: var(--action-info);
      border: 1 solid var(--action-info);

      .toast-loader {
        background-color: var(--action-info);
      }
    }
  }
}

@keyframes loader {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
