@let collapsed = isCollapsed();
<div class="sidebar" [class.collapsed]="collapsed" [style.width]="collapsed ? '72px' : expandedWidth">
  <div class="sidebar-header">
    <ng-content select="[sidebarHeader]"></ng-content>

    @if (showArrow || collapsed) {
      <button
        (click)="toggle()"
        class="collapse-btn"
        [ngClass]="[collapsed ? 'arrow-right' : 'arrow-left', 'btn']"
        type="button"
      >
        >
      </button>
    }
  </div>

  <div class="sidebar-content">
    <ng-content select="[sidebarBody]"></ng-content>
  </div>
</div>
