@use '../../../styles/mixins' as *;

:host {
  position: relative;
  background-color: var(--bg-surface-elevated);
  border-radius: 20px;
  transition: width 0.5s cubic-bezier(0.3, 0, 0, 1);

  .sidebar-header {
    padding: 1rem 1.5rem;

    .collapse-btn {
      border: none;
      transition: all 0.5s ease;
    }

    ::ng-deep .top-title {
      transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1);
    }
  }

  // TODO: Sidebar Open (Default state)
  &:not(.collapsed) {
    .sidebar-header {
      position: relative;

      .collapse-btn {
        position: absolute;
        top: 15%;
        left: 0;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
      }

      &:hover {
        .collapse-btn {
          visibility: visible;
          opacity: 1;
          transform: translateX(1rem);
        }

        ::ng-deep .top-title {
          transform: translateX(1rem);
        }
      }
    }
  }

  // TODO: Sidebar Close

  &.collapsed {
    @include flex($direction: column, $justify: center);

    .sidebar-header {
      @include flex($direction: column, $gap: 0.5rem);

      .collapse-btn {
        position: relative;
      }
    }
  }
}
