<button
  class="btn btn-player change-track prev"
  (click)="setPreviousTrackFromQueue()"
  [disabled]="currentTrackIndex() <= 0"
>
  <span class="material-symbols-rounded">{{ Controls.PREVIOUS }}</span>
</button>

<button
  class="btn btn-player"
  (click)="togglePlay()"
  [attr.aria-label]="isPlaying() ? 'Pause' : 'Play'"
  [disabled]="!currentTrack()"
>
  <span class="material-symbols-outlined play-icon">{{
    isPlaying() ? Controls.PAUSE : Controls.PLAY
  }}</span>
</button>

<button
  class="btn btn-player change-track next"
  (click)="setNextTrackFromQueue()"
  [disabled]="currentTrackIndex() + 1 >= currentQueue().length"
>
  <span class="material-symbols-rounded">{{ Controls.NEXT }}</span>
</button>
