@use '../../../../styles/mixins' as *;

:host(.dropdown-item) {
  @include flex($justify: flex-start);

  width: 100%;
  padding: 0.5rem;
  color: var(--text-main);
  cursor: pointer;
  background-color: var(--bg-surface);
  border-radius: 0.5rem;
  transition: all 0.5s ease;

  &:hover {
    color: var(--bg-base);
    background-color: var(--action-primary-hover);
  }
}
