@use '../../../styles/mixins' as *;

.artist {
  @include flex($direction: column);

  padding: 1rem;
  cursor: pointer;
  list-style: none;
  border-radius: 0.5rem;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: var(--action-surface);
  }

  &_image {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
  }

  &_image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    background-color: var(--bg-surface-elevated);
    border-radius: 50%;
  }

  &_name {
    width: 100%;
    max-width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-main);
    text-align: center;
    white-space: nowrap;
  }
}
