@use '../../../styles/mixins' as *;

:host {
  @include flex($align: flex-start);

  width: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: calc(100dvh - 100px);
    overflow-y: auto;
    background-color: var(--bg-surface);
    border-radius: 20px;
  }
}
