<!-- <app-sidebar-wrapper>
  <app-left-header sidebarHeader />
  <app-left-content sidebarBody />
</app-sidebar-wrapper> -->
<div class="wrapper">
  <header app-home-header></header>
  <main class="main">
    <!------- Trigger Toast Using Button ------->

    <button class="btn" (click)="showToastSuccess()">Show Success Toast</button>
    <button class="btn" (click)="showToastError()">Show Error Toast</button>
    <button class="btn" (click)="showToastWarning()">Show Warning Toast</button>
    <button class="btn" (click)="showToastInfo()">Show Info Toast</button>

    <router-outlet />
  </main>
  <footer app-home-footer></footer>
</div>
<app-sidebar-wrapper>
  <app-right-header sidebarHeader />
  <app-right-content sidebarBody />
</app-sidebar-wrapper>

<app-toast />
