@if (isAuthorized()) {
  @let tracks = tracks$ | async;
  @if (loading()) {
    <app-loader-spinner />
  } @else {
    @if (tracks && tracks.length) {
      <ul class="tracks-list">
        @for (track of tracks; track track.id) {
          <li class="track-item">
            <app-track [track]="track" [index]="$index + 1" />
          </li>
        }
      </ul>
    } @else if (tracks && !tracks.length) {
      <div class="empty-state">
        <p>Tracks not found.</p>
      </div>
    }
  }
} @else {
  <div class="auth-required">
    <p>Please log in to listen to music.</p>
    <a class="btn" routerLink="/login">Login to view tracks</a>
  </div>
}
