@use '../../../styles/mixins' as *;

.track {
  @include flex($justify: space-between, $gap: 0);

  padding: 1rem;
  cursor: pointer;
  list-style: none;
  border-radius: 0.5rem;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: var(--action-surface);
  }

  .track-info {
    @include flex($justify: space-between);

    &_position {
      color: var(--text-sub);
    }

    &_name {
      color: var(--text-main);
    }
  }

  &_duration {
    color: var(--text-sub);
  }
}
