@let collapsed = isCollapsed();
<div class="top" [class.centered]="collapsed">
  @if (!collapsed) {
    <h3 class="top_title">{{ 'MAIN.SIDEBAR.MY_LIBRARY.TITLE' | translate }}</h3>
  }
  @if (!collapsed) {
    <button class="btn">
      <p>{{ 'MAIN.SIDEBAR.MY_LIBRARY.CREATE' | translate }}</p>
    </button>
  } @else {
    <button class="btn-icon material-icons">add</button>
  }
</div>
@if (!collapsed) {
  <div class="bottom">
    <app-filters-carousel [filters]="myFilters" (filterSelected)="onFilterChange($event)"> </app-filters-carousel>
  </div>
}
