@use '../../../../../styles/themes' as *;

:host {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-surface-elevated);

  a {
    padding: 10px 20px;
    color: var(--text-main);
    background-color: var(--action-surface);
    border-radius: 20px;
  }

  .active {
    color: var(--bg-surface-elevated);
    background-color: var(--action-primary);
  }
}
