<form class="search" (ngSubmit)="onConfirmSearch(searchInput.value)">
  <button class="btn-icon material-icons submit" type="submit">search</button>
  <label for="search"></label>
  <input
    #searchInput
    class="search-input"
    name="search"
    autocomplete="off"
    id="search"
    type="text"
    placeholder="{{ 'HEADER.SEARCH' | translate }}"
    [value]="query()"
    (input)="onTypeSearch(searchInput.value)"
    (focus)="isOpened(true)"
    (blur)="isOpened(false)"
  />
  <button class="btn-icon material-icons browser" type="button">browser_updated</button>
</form>
@if (isAutocompleteOpen() && (autocomplete$ | async); as autocomplete) {
  <ul class="autocomplete">
    @for (item of getItem(autocomplete); track item) {
      <li (mousedown)="$event.preventDefault(); onConfirmSearch(item)">
        {{ item }}
      </li>
    }
  </ul>
}
