@use '../../../styles/mixins' as *;

:host {
  position: relative;
}

.autocomplete {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 0.5rem;
  background: var(--bg-surface);
  border-radius: 0.5rem;

  li {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background 0.2s ease;
  }

  li:hover {
    background: var(--bg-surface-elevated);
  }
}

.search {
  position: relative;

  @include flex($gap: 0.5rem);
}

.custom-input {
  width: 100%;
  padding: 1rem 3em;
  font-family: inherit;
  color: var(--text-main);
  outline: none;
  background: var(--bg-surface);
  border: 1px solid var(--bg-surface-elevated);
  border-radius: 3rem;
  transition: all 0.3s ease;
}

.custom-input::placeholder {
  color: var(--text-sub);
  opacity: 0.8;
}

.custom-input:hover {
  border-color: var(--bg-surface);
}

.custom-input:focus {
  border-color: var(--action-primary);
}

.custom-input:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.custom-input:-webkit-autofill,
.custom-input:-webkit-autofill:hover,
.custom-input:-webkit-autofill:focus {
  transition: all 5000s ease-in-out 0s;
}

.submit {
  position: absolute;
  left: 1rem;
}

.browser {
  position: absolute;
  right: 1rem;
}
