@use '../../../../../styles/themes' as *;
@use '../../../../../styles/mixins' as *;

:host {
  width: 100%;
  padding: 20px;
  border-top: 2px solid var(--border);

  @include flex($direction: row, $align: center, $justify: space-around, $gap: 1rem);

  a:hover {
    color: var(--action-primary-hover);
  }

  img {
    width: 30px;
    height: 30px;
  }
}
