<app-track-preview></app-track-preview>

<div class="main-conrtols">
  <app-track-controls></app-track-controls>
  <app-progress-bar [id]="'progress-bar'" [value]="playerStoreService.trackProgressPresentage()"></app-progress-bar>
  <div class="time-wrapper">
    <app-track-time [isTimeIsCurrentTime]="true"></app-track-time>
    <app-track-time [isTimeIsCurrentTime]="false"></app-track-time>
  </div>
</div>

<div class="additional-controls">
  <button class="queue-button btn btn-player" (click)="toggleQueue()">
    <span class="material-symbols-outlined"> queue_music </span>
  </button>

  <app-progress-bar [id]="'volume-bar'" [value]="playerStoreService.volume()" [isVolumeBar]="true"> </app-progress-bar>
</div>

<audio
  #audioPlayer
  [src]="track()?.audio"
  (timeupdate)="updateProgress()"
  (loadedmetadata)="updateProgress()"
  (ended)="onTrackEnded()"
>
  Your browser does not support the audio element.
</audio>
