@use '../../../styles/mixins' as *;

:host {
  width: 100%;
  height: 100%;

  .icon {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}

audio {
  width: 100%;
  background: var(--bg-surface);
}
