@use '../../../../styles/mixins' as *;

:host(.dropdown-content) {
  @include flex($direction: column);

  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--bg-surface-elevated);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
